/* Global */
.profile-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.profile-container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* forms */

.profile-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.profile-form input,
.profile-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.profile-form input:focus,
.profile-form textarea:focus {
  border-color: #007bff;
  outline: none;
}

.profile-form textarea {
  max-width: 480px;
  min-width: 250px;
}

/* Buttons */
.profile-form button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.profile-form button:hover {
  background-color: #0056b3;
  color: #fff;
}

.fetch-location {
  background-color: #17a2b8;
  color: #fff;
}

.fetch-user-info {
  background-color: #28a745;
  color: #fff;
}

.save-profile {
  background-color: #007bff;
  color: #fff;
}

.delete-saved-profile {
  background-color: #de4040;
  color: #fff;
}

/* AutoSave */
.auto-save-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
  border-top: 1px solid #ccc;
  margin-top: 20px;
}

.auto-save-title {
  font-size: 16px;
  color: #333;
}

.auto-save-container input[type="checkbox"] {
  transform: scale(1.2);
  cursor: pointer;
}

.save-status-not-saved {
  font-size: 16px;
  color: #de4040;
  font-weight: bold;
}

.save-status-saved {
  font-size: 16px;
  color: #28a745;
  font-weight: bold;
}
